<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" th:href="@{/styles.css}">
  <title>Відомості про користувача</title>
  <nav>
    <a th:href="@{/users/add}">Додати користувача</a>
  </nav>
</head>
<body>
<h1>Відомості про користувача</h1>
<dl>
  <dt>ID:</dt>
  <dd th:text="${user.id}"></dd>

  <dt>Name:</dt>
  <dd th:text="${user.firstName}"></dd>

  <dt>Email:</dt>
  <dd th:text="${user.email}"></dd>

  <dt>Age:</dt>
  <dd th:text="${user.age}"></dd>

  <dt>Country:</dt>
  <dd th:text="${user.country}"></dd>
</dl>
<a th:href="@{/users/}">Назад до всіх користувачів</a>
</body>
</html>